//COLORS
$color-primary: #e53e2d;
$color-primary-light: #e74c3c;
$color-primary-light-2: rgb(205, 87, 87);
$color-primary-dark: rgb(201, 61, 46);

$color-secondary: #f3cc2f;
$color-secondary-light: #f4d03f;
$color-secondary-dark: #cab14b;

$color-tertiary: rgb(233, 123, 50);
$color-tertiary-dark: #fd7921;
// $color-tertiary-light: #5643fa;

$color-grey-dark: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-grey-light-4: #fefefe;
$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e8e9eb;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//SHAPES
$default-border-radius: 3px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$fa-font-path: '../.././node_modules/@fortawesome/fontawesome-free/webfonts';
